body{
  
  
  background-image: url('../public/img/Background.png');
  
  background-repeat: no-repeat;


  box-sizing: border-box;

  

height:100vh;
background-position: center;

background-size: cover;
position: relative;
}